* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'source code pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  text-decoration: none;
  outline: none;
  background-color: #222;
  color: #aa9;
}

body {
  padding: 0.5em;
}

input, .input-field {
  padding: 0.5em;
}

hr {
  clear: both;
  margin: 1em auto;
  border: 1px solid #555;
}

.container-box {
  clear: both;
  padding: 0.25em;
  max-width: 500px;
  margin: auto;
}

.task-details {
  border-radius: 1px;
  min-height: 30em;
  padding: 0.5em;
}

.task-detail-view {
  height: 75%;
}

.done-button {
  float: right;
}

.full-width {
  width: 100%;
  position: relative;
}

.full-height {
  /* height: calc(100vh); */
  position: absolute;
  top: 0em;
  left: 0em;
  right: 0em;
  bottom: 0em;
  padding: 1em;
}

.underline {
  border-bottom: 1px solid;
  margin-bottom: 0.25em;
}

.bordered {
  border: 1px solid;
}

.row {
  width: 100%;
  clear: both;
  display: block;
  margin-bottom: 0.25em;
}

.bottom {
  bottom: 0px;
  position: absolute;
  flex-direction: column-reverse;
}

.relaxed {
  line-height: 1.5em;
}

.btn {
  padding: 0.5em;
  border-radius: .25em;
  min-width: 5rem;
  background: #555;
}

.btn:active {
  background: #3338;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

#start-button {
  background-color: #333;
  border-radius: 50%;
  padding:25% 20%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}